<div class="bloginner">
  <div>

    <span><%= raw coment.description%></span>
  </div>

    <br>
    <div class="postedit">
      <strong><%= coment.user.email%> -</strong>
      <span>create:</span>
      <%= coment.created_at%>
      <span>update:</span>
      <%= coment.updated_at%>
    </div>
</div>