<div class="container">
  <div class="col-md-12 ">
    <%= form_for @coment, url: item_coment_path(@item,@coment) do |f|%>
        <div>
          <span>Description:</span>
          <span><%= f.text_area :description%></span>
        </div>
        <div>

          <span class="actions">
            <%= f.submit %>
            <%= link_to 'Cancel', :back,class:'button_href' %>
          </span>

        </div>

    <% end %>
  </div>
</div>
|