
<srong>Юзеры для блога:</srong>
<ul>
  <li>email: 'admin@example.com', password: '012345678'</li>
  <li>email: 'moderator@example.com', password: '012345678'</li>
  <li>email: 'user@example.com', password: '012345678'</li>
</ul>

<srong>Юзеры для админки:</srong>
<p>email: 'admin@example.com', password: 'password'</p>
